/* General */

body {
    position: relative;
    min-height: 100vh;
    background-color: #000e27;
    background-image: url("../img/bg-pattern.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
    font-family: 'Inter', sans-serif;
}

/* Main Content */

.hero-text {
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 100px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -3.43px;
}

.hero-subtext {
    color: #82e088;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.35;
}

.coming-soon-text {
    color: #bac2cf;
    font-size: 20px;
    line-height: 1.35;
}

/* Footer */

.footer-text {
    color: #bac2cf;
    font-size: 13px;
    line-height: 2.077;
    padding-right: 20px;
}

.privacy-link {
    color: #fff;
    text-decoration-color: #82e088;
    font-size: 13px;
    line-height: 2.077;
    padding-left: 10.5px;
}

/* Media Queries */

@media only screen and (max-width: 992px) {
    body {
       background-image: url("../img/bg-pattern-mobile.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .hero-text {
        font-size: 30px;
        letter-spacing: -1px;
        width: 90%;
        margin-top: 50px;
    }

    .hero-subtext {
        font-size: 16px;
        width: 90%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .hero-text {
        font-size: 70px;
    }    
}

@media only screen and (min-width: 1200px) and (max-width: 1375px) {
    .hero-text {
        font-size: 74px;
    }    
}
